body {
    background-color: #E4DCCF;
}

/* Navbar */
header {
    background-color: #E4DCCF;
    color: #000;
}

header h2 {
    float: left;
}

header ul {
    float: right;
}
header ul li  {
    padding: 10px 0px 10px 25px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #000;
}
/* end navbar */

.container {
    width: 80%;
    margin: 0 auto;
}

.container:after {
    content: '';
    display: block;
    clear: both;
}
.section {
    padding: 20px 0;
}

.btn-msk {
    padding: 10px 20px;
    width: 95px;
    background-color: #E4DCCF;
    color: #000;
    border-color: #D61C4E;
    border-radius: 5px;
    cursor: pointer;
}

.btn-msk:hover {
    background-color: #D61C4E;
}

/* Judul */

.judul {
    text-align: center;
}

/* Gambar */
img {
    width: 25%;
    float: right;
}

.foto {
    padding-right: 15%;
    width: 30%;
    float: left;
}

/* Home */
.hello {
    color: #D61C4E;
    margin-bottom: -25px;
}

.nama {
    font-size: 35px;
    font-family: 'Poppins';
}

.front {
    color: #D61C4E;
    margin-top: -25px;
    font-size: 25px;
}

/* About */
.btn-cv {
    padding: 10px;
    margin-top: 10%;
    background-color: #D61C4E;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Skills */
.progres {
    background-color: #D0C9C0;
    height: 30%;
    width: 350px;
    border-radius: 35px;
    margin-bottom: 20px;
}

.progres-bar {
    background-color: #041562;
    height: 30px;
    width: 300px;
    color: #fff;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progres-bar1{
    background-color: #D61C4E;
    height: 30px;
    width: 250px;
    color: #fff;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progres-bar2{
    background-color: #7A4069;
    height: 30px;
    width: 100px;
    color: #fff;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Experience */
.card {
    width: 20%;
    height: 250px;
    border: 1px solid #000;
    text-align: center;
    float: left;
    padding:10px;
    box-sizing: border-box;
    margin-right: 20%;
    margin-bottom: 10px;
    box-shadow: 0 0 3px;
}

.card:hover {
    box-shadow: 0 0px 15px;
}

.card img {
    max-width: 100%;
    margin-right: 10px;
    height: 60%;
    width: 90%;
}

.card1 {
    width: 20%;
    height: 300px;
    border: 1px solid #000;
    text-align: center;
    float: left;
    padding:10px;
    box-sizing: border-box;
    margin-right: 20%;
    margin-bottom: 10px;
    box-shadow: 0 0 3px;
}

.card1:hover {
    box-shadow: 0 0px 15px;
}

.card1 img {
    max-width: 100%;
    margin-right: 5px;
    height: 55%;
    width: 90%;
}

.card2 {
    width: 20%;
    height: 250px;
    border: 1px solid #000;
    text-align: center;
    float: left;
    padding:10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow:0 0 3px;
}

.card2:hover {
    box-shadow: 0 0px 15px;
}

.card2 img {
    max-width: 100%;
    margin-right: 20px;
    height: 55%;
    width: 75%;
}

.card-desk {
    margin-top: 75%;


}

/* tabel */
form {
    margin-left: 35%;
}

.tabel {
    width: 100%;
    border-collapse: collapse;
}

.form-tabel{
    width: 50%;
    height: 30px;
    text-align: center;
}

.form-control{
    width: 50%;
    height: 30px;
    border: 1px solid;
}

/* Send */
.btn-massage {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 20%;
    background-color: #112B3C;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}